<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD app</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <style>
    .mdl-data-table th {
      text-align: left;
    }
    .center{
      margin: auto;
    }
    .hide{
      display: none;
    }
    .mdl-textfield__input {
      border-bottom: none;
    }
    </style>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Favourite recipes</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main id="main-container" class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-card mdl-shadow--4dp center">
          <div class="mdl-card__supporting-text">
            <h5>Add recipe</h5>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="/recipes" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="recipe" name="recipe">
                  <label class="mdl-textfield__label" for="name">Recipe...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="ingredients" name="ingredients">
                  <label class="mdl-textfield__label" for="ingredients">Ingredients...</label>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab">
                  <i class="material-icons">add</i>
                </button>
            </form>
          </div>
        </div>
        <div class="mdl-grid">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Recipes</th>
                  <th>Ingredients</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<recipes.length; i++) {%>
                  <tr class="recipe">
                    <td class="repice-holder">
                      <input class="mdl-textfield__input" type="text" id=<%= "updateRecipe" + recipes[i]._id %> name="nameUpdate" value=<%= recipes[i].recipe %> >
                    </td>
                    <td class="ingredients-holder">
                      <input class="mdl-textfield__input" type="text" id=<%= "updateIngredients" + recipes[i]._id %> name="quoteUpdate" value=<%= recipes[i].ingredients %> >
                    </td>
                    <td><button class="update mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-id=<%= recipes[i]._id %> >Save</button></td>
                    <td><button class="delete mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-id=<%= recipes[i]._id %> >Delete</button></td>
                  </tr>
                <% } %>
              </tbody>
          </table>
        </div>
        </main>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
